In [18]:
# Import data to create DataFrame
import pandas as pd
df = pd.read_csv("/Users/pornpipatleelakanaweera/Downloads/audible_uncleaned.csv")
df

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Writtenby:ChrisStewart,Narratedby:ChrisStewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00
87485,The Alps,Writtenby:StephenO'Shea,Narratedby:RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00
87486,The Innocents Abroad,Writtenby:MarkTwain,Narratedby:FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00
87487,A Sentimental Journey,Writtenby:LaurenceSterne,Narratedby:AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00

In [20]:
# Check missing value in each column
df.isnull().sum()

name           0
author         0
narrator       0
time           0
releasedate    0
language       0
stars          0
price          0
dtype: int64

In [22]:
# Check duplicates value
df.duplicated().sum()

0

In [24]:
# Clean author column
df["author"] = df["author"].str.replace("Writtenby:", "")
df

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,ChrisStewart,Narratedby:ChrisStewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00
87485,The Alps,StephenO'Shea,Narratedby:RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00
87486,The Innocents Abroad,MarkTwain,Narratedby:FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00
87487,A Sentimental Journey,LaurenceSterne,Narratedby:AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00
87488,Havana,MarkKurlansky,Narratedby:FleetCooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00

In [28]:
# Split Firstname and Lastname of author
import re
def split_name(name):
	parts = re.findall("[A-Z]{1}[a-z]*", name)
	return " ".join(parts)

df["author"] = df["author"].apply(split_name)
df

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Rick Riordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Jeff Kinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Rick Riordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Chris Stewart,Narratedby:ChrisStewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00
87485,The Alps,Stephen O Shea,Narratedby:RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00
87486,The Innocents Abroad,Mark Twain,Narratedby:FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00
87487,A Sentimental Journey,Laurence Sterne,Narratedby:AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00
87488,Havana,Mark Kurlansky,Narratedby:FleetCooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00

In [30]:
# Clean narrator column
df["narrator"] = df["narrator"].str.replace("Narratedby:", "")
df

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Geronimo Stilton,BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Rick Riordan,RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Jeff Kinney,DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Rick Riordan,SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Chris Stewart,ChrisStewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00
87485,The Alps,Stephen O Shea,RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00
87486,The Innocents Abroad,Mark Twain,FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00
87487,A Sentimental Journey,Laurence Sterne,AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00
87488,Havana,Mark Kurlansky,FleetCooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00

In [32]:
# Split Fullname and Lastname of narrator
df["narrator"] = df["narrator"].apply(split_name)
df

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Rick Riordan,Robbie Daymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Jeff Kinney,Dan Russell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Chris Stewart,Chris Stewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00
87485,The Alps,Stephen O Shea,Robert Fass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00
87486,The Innocents Abroad,Mark Twain,Flo Gibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00
87487,A Sentimental Journey,Laurence Sterne,Anton Lesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00
87488,Havana,Mark Kurlansky,Fleet Cooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00

In [42]:
df['time'].head(10)

0     2 hrs and 20 mins
1     13 hrs and 8 mins
2      2 hrs and 3 mins
3    11 hrs and 16 mins
4                10 hrs
5    10 hrs and 35 mins
6     2 hrs and 23 mins
7    12 hrs and 32 mins
8    10 hrs and 56 mins
9    13 hrs and 22 mins
Name: time, dtype: object

In [44]:
df['time'].tail(10)

87479    14 hrs and 48 mins
87480    11 hrs and 51 mins
87481     6 hrs and 52 mins
87482    13 hrs and 16 mins
87483     5 hrs and 55 mins
87484     7 hrs and 34 mins
87485     10 hrs and 7 mins
87486     19 hrs and 4 mins
87487      4 hrs and 8 mins
87488       6 hrs and 1 min
Name: time, dtype: object

In [46]:
# Clean time column
df["time_hr"] = df["time"].str.extract("([0-9]+)\s[hr]", expand = True)
df["time_min"] = df["time"].str.extract("([0-9]+)\s[min]", expand = True)
df

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
/var/folders/_p/f0gmzq357jbbpn282gx_ph2r0000gn/T/ipykernel_41982/349170206.py:2: SyntaxWarning: invalid escape sequence '\s'
  df["time_hr"] = df["time"].str.extract("([0-9]+)\s[hr]", expand = True)
/var/folders/_p/f0gmzq357jbbpn282gx_ph2r0000gn/T/ipykernel_41982/349170206.py:3: SyntaxWarning: invalid escape sequence '\s'
  df["time_min"] = df["time"].str.extract("([0-9]+)\s[min]", expand = True)

,name,author,narrator,time,releasedate,language,stars,price,time_hr,time_min
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00,2,20
1,The Burning Maze,Rick Riordan,Robbie Daymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00,13,8
2,The Deep End,Jeff Kinney,Dan Russell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00,2,3
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00,11,16
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00,10,NaN
...,...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Chris Stewart,Chris Stewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00,7,34
87485,The Alps,Stephen O Shea,Robert Fass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00,10,7
87486,The Innocents Abroad,Mark Twain,Flo Gibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00,19,4
87487,A Sentimental Journey,Laurence Sterne,Anton Lesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00,4,8
87488,Havana,Mark Kurlansky,Fleet Cooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00,6,1

In [48]:
# replace null value in time_hr and time_min column
df['time_hr'] = df['time_hr'].fillna(0)
df['time_min'] = df['time_min'].fillna(0)
df

,name,author,narrator,time,releasedate,language,stars,price,time_hr,time_min
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00,2,20
1,The Burning Maze,Rick Riordan,Robbie Daymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00,13,8
2,The Deep End,Jeff Kinney,Dan Russell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00,2,3
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00,11,16
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00,10,0
...,...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Chris Stewart,Chris Stewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00,7,34
87485,The Alps,Stephen O Shea,Robert Fass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00,10,7
87486,The Innocents Abroad,Mark Twain,Flo Gibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00,19,4
87487,A Sentimental Journey,Laurence Sterne,Anton Lesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00,4,8
87488,Havana,Mark Kurlansky,Fleet Cooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00,6,1

In [54]:
# Change Datatype in time_hr and time_min column
df["time_hr"] = df["time_hr"].apply(lambda x: int(x))
df["time_min"] = df["time_min"].apply(lambda x: int(x))

In [56]:
# Calculate duration per episode in second unit
df["duration_sec"] = (df["time_hr"] * 60 * 60) + (df["time_min"] * 60)
df

,name,author,narrator,time,releasedate,language,stars,price,time_hr,time_min,duration_sec
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00,2,20,8400
1,The Burning Maze,Rick Riordan,Robbie Daymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00,13,8,47280
2,The Deep End,Jeff Kinney,Dan Russell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00,2,3,7380
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00,11,16,40560
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00,10,0,36000
...,...,...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Chris Stewart,Chris Stewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00,7,34,27240
87485,The Alps,Stephen O Shea,Robert Fass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00,10,7,36420
87486,The Innocents Abroad,Mark Twain,Flo Gibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00,19,4,68640
87487,A Sentimental Journey,Laurence Sterne,Anton Lesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00,4,8,14880
87488,Havana,Mark Kurlansky,Fleet Cooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00,6,1,21660

In [58]:
# Drop time, time_hr, time_min column out of DataFrame
df.drop(columns = {"time", "time_hr", "time_min"}, inplace = True)
df

,name,author,narrator,releasedate,language,stars,price,duration_sec
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,04-08-08,English,5 out of 5 stars34 ratings,468.00,8400
1,The Burning Maze,Rick Riordan,Robbie Daymond,01-05-18,English,4.5 out of 5 stars41 ratings,820.00,47280
2,The Deep End,Jeff Kinney,Dan Russell,06-11-20,English,4.5 out of 5 stars38 ratings,410.00,7380
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,05-10-21,English,4.5 out of 5 stars12 ratings,615.00,40560
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,13-01-10,English,4.5 out of 5 stars181 ratings,820.00,36000
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Chris Stewart,Chris Stewart,09-03-17,English,Not rated yet,596.00,27240
87485,The Alps,Stephen O Shea,Robert Fass,21-02-17,English,Not rated yet,820.00,36420
87486,The Innocents Abroad,Mark Twain,Flo Gibson,30-12-16,English,Not rated yet,938.00,68640
87487,A Sentimental Journey,Laurence Sterne,Anton Lesser,23-02-11,English,Not rated yet,680.00,14880
87488,Havana,Mark Kurlansky,Fleet Cooper,07-03-17,English,Not rated yet,569.00,21660

In [60]:
# Change format of date in releasedate column
df["releasedate"] = pd.to_datetime(df["releasedate"], format = "%d-%m-%y")
df = df.rename(columns = {"releasedate" : "release_date"})
df

,name,author,narrator,release_date,language,stars,price,duration_sec
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2008-08-04,English,5 out of 5 stars34 ratings,468.00,8400
1,The Burning Maze,Rick Riordan,Robbie Daymond,2018-05-01,English,4.5 out of 5 stars41 ratings,820.00,47280
2,The Deep End,Jeff Kinney,Dan Russell,2020-11-06,English,4.5 out of 5 stars38 ratings,410.00,7380
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,2021-10-05,English,4.5 out of 5 stars12 ratings,615.00,40560
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,2010-01-13,English,4.5 out of 5 stars181 ratings,820.00,36000
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Chris Stewart,Chris Stewart,2017-03-09,English,Not rated yet,596.00,27240
87485,The Alps,Stephen O Shea,Robert Fass,2017-02-21,English,Not rated yet,820.00,36420
87486,The Innocents Abroad,Mark Twain,Flo Gibson,2016-12-30,English,Not rated yet,938.00,68640
87487,A Sentimental Journey,Laurence Sterne,Anton Lesser,2011-02-23,English,Not rated yet,680.00,14880
87488,Havana,Mark Kurlansky,Fleet Cooper,2017-03-07,English,Not rated yet,569.00,21660

In [68]:
df['language'].value_counts()

language
English             61884
german               8295
spanish              3496
japanese             3167
italian              2694
french               2386
russian              1804
danish                935
portuguese            526
swedish               515
Hindi                 436
polish                224
finnish               197
dutch                 190
tamil                 161
catalan               153
mandarin_chinese       97
icelandic              52
romanian               50
hungarian              36
urdu                   34
afrikaans              28
czech                  23
turkish                20
greek                  18
arabic                 16
norwegian              16
galician               10
bulgarian               9
korean                  4
slovene                 4
hebrew                  2
basque                  2
telugu                  2
lithuanian              2
ukrainian               1
Name: count, dtype: int64

In [124]:
# Capitalize data in language column
df["language"] = df["language"].str.capitalize()
df

,name,author,narrator,release_date,language,stars,price,duration_sec
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2008-08-04,English,5 out of 5 stars34 ratings,468.00,8400
1,The Burning Maze,Rick Riordan,Robbie Daymond,2018-05-01,English,4.5 out of 5 stars41 ratings,820.00,47280
2,The Deep End,Jeff Kinney,Dan Russell,2020-11-06,English,4.5 out of 5 stars38 ratings,410.00,7380
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,2021-10-05,English,4.5 out of 5 stars12 ratings,615.00,40560
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,2010-01-13,English,4.5 out of 5 stars181 ratings,820.00,36000
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Chris Stewart,Chris Stewart,2017-03-09,English,Not rated yet,596.00,27240
87485,The Alps,Stephen O Shea,Robert Fass,2017-02-21,English,Not rated yet,820.00,36420
87486,The Innocents Abroad,Mark Twain,Flo Gibson,2016-12-30,English,Not rated yet,938.00,68640
87487,A Sentimental Journey,Laurence Sterne,Anton Lesser,2011-02-23,English,Not rated yet,680.00,14880
87488,Havana,Mark Kurlansky,Fleet Cooper,2017-03-07,English,Not rated yet,569.00,21660

In [70]:
# Clean stars column
# Split value in stars column into 2 column
df[["stars", "raters"]] = df["stars"].str.split("stars", expand = True)
df

,name,author,narrator,release_date,language,stars,price,duration_sec,raters
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2008-08-04,English,5 out of 5,468.00,8400,34 ratings
1,The Burning Maze,Rick Riordan,Robbie Daymond,2018-05-01,English,4.5 out of 5,820.00,47280,41 ratings
2,The Deep End,Jeff Kinney,Dan Russell,2020-11-06,English,4.5 out of 5,410.00,7380,38 ratings
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,2021-10-05,English,4.5 out of 5,615.00,40560,12 ratings
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,2010-01-13,English,4.5 out of 5,820.00,36000,181 ratings
...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Chris Stewart,Chris Stewart,2017-03-09,English,Not rated yet,596.00,27240,None
87485,The Alps,Stephen O Shea,Robert Fass,2017-02-21,English,Not rated yet,820.00,36420,None
87486,The Innocents Abroad,Mark Twain,Flo Gibson,2016-12-30,English,Not rated yet,938.00,68640,None
87487,A Sentimental Journey,Laurence Sterne,Anton Lesser,2011-02-23,English,Not rated yet,680.00,14880,None
87488,Havana,Mark Kurlansky,Fleet Cooper,2017-03-07,English,Not rated yet,569.00,21660,None

In [72]:
# remove 5 out of 5 from value in stars column
df["stars"] = df["stars"].str.replace(" out of 5", "")
df

,name,author,narrator,release_date,language,stars,price,duration_sec,raters
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2008-08-04,English,5,468.00,8400,34 ratings
1,The Burning Maze,Rick Riordan,Robbie Daymond,2018-05-01,English,4.5,820.00,47280,41 ratings
2,The Deep End,Jeff Kinney,Dan Russell,2020-11-06,English,4.5,410.00,7380,38 ratings
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,2021-10-05,English,4.5,615.00,40560,12 ratings
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,2010-01-13,English,4.5,820.00,36000,181 ratings
...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Chris Stewart,Chris Stewart,2017-03-09,English,Not rated yet,596.00,27240,None
87485,The Alps,Stephen O Shea,Robert Fass,2017-02-21,English,Not rated yet,820.00,36420,None
87486,The Innocents Abroad,Mark Twain,Flo Gibson,2016-12-30,English,Not rated yet,938.00,68640,None
87487,A Sentimental Journey,Laurence Sterne,Anton Lesser,2011-02-23,English,Not rated yet,680.00,14880,None
87488,Havana,Mark Kurlansky,Fleet Cooper,2017-03-07,English,Not rated yet,569.00,21660,None

In [74]:
# remove ratings and rating from value in raters column
df["raters"] = df["raters"].str.replace(" ratings", "")
df["raters"] = df["raters"].str.replace(" rating", "")
df

,name,author,narrator,release_date,language,stars,price,duration_sec,raters
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2008-08-04,English,5,468.00,8400,34
1,The Burning Maze,Rick Riordan,Robbie Daymond,2018-05-01,English,4.5,820.00,47280,41
2,The Deep End,Jeff Kinney,Dan Russell,2020-11-06,English,4.5,410.00,7380,38
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,2021-10-05,English,4.5,615.00,40560,12
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,2010-01-13,English,4.5,820.00,36000,181
...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Chris Stewart,Chris Stewart,2017-03-09,English,Not rated yet,596.00,27240,None
87485,The Alps,Stephen O Shea,Robert Fass,2017-02-21,English,Not rated yet,820.00,36420,None
87486,The Innocents Abroad,Mark Twain,Flo Gibson,2016-12-30,English,Not rated yet,938.00,68640,None
87487,A Sentimental Journey,Laurence Sterne,Anton Lesser,2011-02-23,English,Not rated yet,680.00,14880,None
87488,Havana,Mark Kurlansky,Fleet Cooper,2017-03-07,English,Not rated yet,569.00,21660,None

In [76]:
# drop row that value in stars column equal to Not rated yet
for x in df.index:
	if df.loc[x, "stars"] == "Not rated yet":
		df.drop(x, inplace = True)

df

,name,author,narrator,release_date,language,stars,price,duration_sec,raters
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2008-08-04,English,5,468.00,8400,34
1,The Burning Maze,Rick Riordan,Robbie Daymond,2018-05-01,English,4.5,820.00,47280,41
2,The Deep End,Jeff Kinney,Dan Russell,2020-11-06,English,4.5,410.00,7380,38
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,2021-10-05,English,4.5,615.00,40560,12
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,2010-01-13,English,4.5,820.00,36000,181
...,...,...,...,...,...,...,...,...,...
87228,Why We Fly,Evan Rail,Evan Rail,2014-06-23,English,5,100.00,3360,1
87337,River Town,Peter Hessler,Peter Berkrot,2010-05-04,English,5,836.00,52560,1
87340,Figures in a Landscape,Paul Theroux,Edoardo Ballerini,2018-06-07,English,4,949.00,60240,1
87362,Tower of London,Minds,Abbey Holmes,2009-12-23,English,5,33.00,480,1
87477,Tigers in the Snow,Peter Matthiessen,George Guidall,2004-08-05,English,5,702.00,17640,1

In [78]:
# drop row that value in raters column equal to None
for x in df.index:
	if df.loc[x, "raters"] == "None":
		df.drop(x, inplace = True)

df

,name,author,narrator,release_date,language,stars,price,duration_sec,raters
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2008-08-04,English,5,468.00,8400,34
1,The Burning Maze,Rick Riordan,Robbie Daymond,2018-05-01,English,4.5,820.00,47280,41
2,The Deep End,Jeff Kinney,Dan Russell,2020-11-06,English,4.5,410.00,7380,38
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,2021-10-05,English,4.5,615.00,40560,12
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,2010-01-13,English,4.5,820.00,36000,181
...,...,...,...,...,...,...,...,...,...
87228,Why We Fly,Evan Rail,Evan Rail,2014-06-23,English,5,100.00,3360,1
87337,River Town,Peter Hessler,Peter Berkrot,2010-05-04,English,5,836.00,52560,1
87340,Figures in a Landscape,Paul Theroux,Edoardo Ballerini,2018-06-07,English,4,949.00,60240,1
87362,Tower of London,Minds,Abbey Holmes,2009-12-23,English,5,33.00,480,1
87477,Tigers in the Snow,Peter Matthiessen,George Guidall,2004-08-05,English,5,702.00,17640,1

In [86]:
df['raters'].str.contains(",").sum()

39

In [90]:
# remove comma from value in raters column
df["raters"] = df["raters"].str.replace(",", "")
df

,name,author,narrator,release_date,language,stars,price,duration_sec,raters
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2008-08-04,English,5.0,468.00,8400,34
1,The Burning Maze,Rick Riordan,Robbie Daymond,2018-05-01,English,4.5,820.00,47280,41
2,The Deep End,Jeff Kinney,Dan Russell,2020-11-06,English,4.5,410.00,7380,38
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,2021-10-05,English,4.5,615.00,40560,12
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,2010-01-13,English,4.5,820.00,36000,181
...,...,...,...,...,...,...,...,...,...
87228,Why We Fly,Evan Rail,Evan Rail,2014-06-23,English,5.0,100.00,3360,1
87337,River Town,Peter Hessler,Peter Berkrot,2010-05-04,English,5.0,836.00,52560,1
87340,Figures in a Landscape,Paul Theroux,Edoardo Ballerini,2018-06-07,English,4.0,949.00,60240,1
87362,Tower of London,Minds,Abbey Holmes,2009-12-23,English,5.0,33.00,480,1
87477,Tigers in the Snow,Peter Matthiessen,George Guidall,2004-08-05,English,5.0,702.00,17640,1

In [92]:
# convert datatype of stars column to float and raters column in integer
df["stars"] = df["stars"].apply(lambda x: float(x))
df["raters"] = df["raters"].apply(lambda x: int(x))

In [96]:
df["price"].str.contains(",").sum()

2553

In [102]:
# Clean price column
# remove comma from value in price column
df["price"] = df["price"].str.replace(",", "")
df

,name,author,narrator,release_date,language,stars,price,duration_sec,raters
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2008-08-04,English,5.0,468.00,8400,34
1,The Burning Maze,Rick Riordan,Robbie Daymond,2018-05-01,English,4.5,820.00,47280,41
2,The Deep End,Jeff Kinney,Dan Russell,2020-11-06,English,4.5,410.00,7380,38
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,2021-10-05,English,4.5,615.00,40560,12
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,2010-01-13,English,4.5,820.00,36000,181
...,...,...,...,...,...,...,...,...,...
87228,Why We Fly,Evan Rail,Evan Rail,2014-06-23,English,5.0,100.00,3360,1
87337,River Town,Peter Hessler,Peter Berkrot,2010-05-04,English,5.0,836.00,52560,1
87340,Figures in a Landscape,Paul Theroux,Edoardo Ballerini,2018-06-07,English,4.0,949.00,60240,1
87362,Tower of London,Minds,Abbey Holmes,2009-12-23,English,5.0,33.00,480,1
87477,Tigers in the Snow,Peter Matthiessen,George Guidall,2004-08-05,English,5.0,702.00,17640,1

In [104]:
# replace "Free" with 0 in price column
df["price"] = df["price"].str.replace("Free", "0")
df

,name,author,narrator,release_date,language,stars,price,duration_sec,raters
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2008-08-04,English,5.0,468.00,8400,34
1,The Burning Maze,Rick Riordan,Robbie Daymond,2018-05-01,English,4.5,820.00,47280,41
2,The Deep End,Jeff Kinney,Dan Russell,2020-11-06,English,4.5,410.00,7380,38
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,2021-10-05,English,4.5,615.00,40560,12
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,2010-01-13,English,4.5,820.00,36000,181
...,...,...,...,...,...,...,...,...,...
87228,Why We Fly,Evan Rail,Evan Rail,2014-06-23,English,5.0,100.00,3360,1
87337,River Town,Peter Hessler,Peter Berkrot,2010-05-04,English,5.0,836.00,52560,1
87340,Figures in a Landscape,Paul Theroux,Edoardo Ballerini,2018-06-07,English,4.0,949.00,60240,1
87362,Tower of London,Minds,Abbey Holmes,2009-12-23,English,5.0,33.00,480,1
87477,Tigers in the Snow,Peter Matthiessen,George Guidall,2004-08-05,English,5.0,702.00,17640,1

In [106]:
# convert datatype of price column to float
df["price"] = df["price"].apply(lambda x: float(x))
df

,name,author,narrator,release_date,language,stars,price,duration_sec,raters
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2008-08-04,English,5.0,468.0,8400,34
1,The Burning Maze,Rick Riordan,Robbie Daymond,2018-05-01,English,4.5,820.0,47280,41
2,The Deep End,Jeff Kinney,Dan Russell,2020-11-06,English,4.5,410.0,7380,38
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,2021-10-05,English,4.5,615.0,40560,12
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,2010-01-13,English,4.5,820.0,36000,181
...,...,...,...,...,...,...,...,...,...
87228,Why We Fly,Evan Rail,Evan Rail,2014-06-23,English,5.0,100.0,3360,1
87337,River Town,Peter Hessler,Peter Berkrot,2010-05-04,English,5.0,836.0,52560,1
87340,Figures in a Landscape,Paul Theroux,Edoardo Ballerini,2018-06-07,English,4.0,949.0,60240,1
87362,Tower of London,Minds,Abbey Holmes,2009-12-23,English,5.0,33.0,480,1
87477,Tigers in the Snow,Peter Matthiessen,George Guidall,2004-08-05,English,5.0,702.0,17640,1

In [110]:
# Reset index of DataFrame
df.reset_index(drop = True, inplace = True)
df

,name,author,narrator,release_date,language,stars,price,duration_sec,raters
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2008-08-04,English,5.0,468.0,8400,34
1,The Burning Maze,Rick Riordan,Robbie Daymond,2018-05-01,English,4.5,820.0,47280,41
2,The Deep End,Jeff Kinney,Dan Russell,2020-11-06,English,4.5,410.0,7380,38
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,2021-10-05,English,4.5,615.0,40560,12
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,2010-01-13,English,4.5,820.0,36000,181
...,...,...,...,...,...,...,...,...,...
15067,Why We Fly,Evan Rail,Evan Rail,2014-06-23,English,5.0,100.0,3360,1
15068,River Town,Peter Hessler,Peter Berkrot,2010-05-04,English,5.0,836.0,52560,1
15069,Figures in a Landscape,Paul Theroux,Edoardo Ballerini,2018-06-07,English,4.0,949.0,60240,1
15070,Tower of London,Minds,Abbey Holmes,2009-12-23,English,5.0,33.0,480,1
15071,Tigers in the Snow,Peter Matthiessen,George Guidall,2004-08-05,English,5.0,702.0,17640,1

In [112]:
# Check missing values again
df.isnull().sum()

name            0
author          0
narrator        0
release_date    0
language        0
stars           0
price           0
duration_sec    0
raters          0
dtype: int64

In [116]:
# Check duplicates value again
df.duplicated().sum()

0

In [118]:
# Export file to csv
df.to_csv("audible_clean.csv")